.title{
    color: blueviolet;
}
.date_and_number{
    font-size: 12px;
    color: darkgray;
    padding-right: 100px;
}
.dateContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    width: 800px;
    margin: 0px;
}
.body{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}