.contactContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    width: 100%;
    margin: 0px;
}

.itemContainer {
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}
.button {
    width: 300px;
    margin: 40px;
}